// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup
// spawn-sh-at-startup "qs -c noctalia-shell" // Noctalia version < 5

spawn-sh-at-startup "noctalia"
//spawn-sh-at-startup "qpwgraph -a -m ~/gudo09-Audio.qpwgraph"
